.icon__bcg, .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 944px;
  }
}

.hero__section {
  background-image: url(../img/hero/mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 214px;
  padding-bottom: 138px;
}
@media screen and (min-width: 768px) {
  .hero__section {
    background-image: url(../img/hero/tablet.jpg);
    padding-top: 201px;
    padding-bottom: 233px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    background-image: url(../img/hero/desktop.jpg);
  }
}

.partner__section {
  padding-top: 67px;
  padding-bottom: 56px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .partner__section {
    padding-top: 71px;
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .partner__section {
    padding-top: 69px;
    padding-bottom: 72px;
  }
}

.hero__btn {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #FF4E50;
  border: none;
  border-radius: 50px;
  padding: 13px 38px;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    padding: 13px 11px;
  }
}

.partner__btn {
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  background-color: white;
  border: 2px solid #FF4E50;
  padding: 12px 59px;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .partner__btn {
    padding: 12px 17px;
    margin-top: 50px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 19px;
  margin-bottom: 37px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 36px;
  }
}

.header .container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.nav__list {
  margin-bottom: 112px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-bottom: 0;
  }
}

.nav__list__item:not(:last-child) {
  margin-right: 4px;
}

.nav__list__item:last-child {
  background-color: rgba(26, 25, 21, 0.0001);
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.nav__btn {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.hero__title {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 52px;
    line-height: 63px;
    margin-bottom: 36px;
  }
}

.hero__subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 33px;
  }
}

.partner__title {
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .partner__title {
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 768px) {
  .partner__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .partner__list {
    gap: 37px;
  }
}

.partner__list__item {
  width: 194px;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .partner__list__item {
    width: 230px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .partner__list__item {
    width: 194px;
  }
}

.partnet__thumb {
  position: relative;
  width: 120px;
  margin: 0 auto;
}

.partner__img {
  margin-bottom: 13px;
}

.partner__icon {
  fill: white;
}

.icon__bcg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.icon__bcg--red {
  background-color: #ff4e50;
}

.icon__bcg--yellow {
  background-color: #ffa507;
}

.icon__bcg--green {
  background-color: #1cd7ad;
}

.icon__bcg--blue {
  background-color: #4e73db;
}

.partner__name {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 13px;
}

.partner__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}/*# sourceMappingURL=main.css.map */